.p1{
    height: 60px;
    width: 200px;
    position:absolute;
    margin-left: 20px;
}
.p12{
    position: absolute;
    margin-left: 700px;
}


  form {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 20px;
    margin: 0 0 400px;
    width: 400px;
  }

  input[type='search'] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    width: 400px;;
  }

  input[type='search']::placeholder {
    color: #bbb;
  }
  .d{
    position: absolute;
    margin-left: 650px;
  }
  .im{
    position: absolute;
    right: 10%;
    top: 30%;
    
  }
  .te{
    position: absolute;
    top:30%;
    margin-left: 10%;
    margin-top: 40px;
  }
  .img1{
    position: absolute;
    top: 60%;
    height: 600px;
    width: 500px;
    left: 3%;
  }
  
  .para{
    position: absolute;
    top: 1000px;
    left: 60%;
  }
  .head2{
    position: absolute;
    top:1600px;
    left: 6%;
  }
  .img2{
    position: absolute;
    height: 650px;
    width: 700px;
    top: 1500px;
    left: 1000px;
  }
.img12{
  position: absolute;
  top: 2500px;
  height: 12%;
  width: 100%;
}
.card1{
  position: absolute;
  top: 2800px;
}
.img13{
  position: absolute;
  left: 0%;
  width: 95%;
  
}
button{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.card1{
  margin-left: 5%;
  margin-right: 5%;
}
.img14{
  position: absolute;
  top: 2500px;
  height:32%;
  width: 100%;
}
.line{
  position: absolute;
  top: 5150px;
  text-align: center;
  left: 25%;
}
.img3{
  position: absolute;
  top:2650px;
}
.text2{
  position:absolute;
  top: 5400px;
  left:70%;
  color: rgb(24, 24, 72);
  size: 2cm;
}
.img15{
  position: absolute;
  top:3070px;
  left: 25%;
}